<div class="min-w-[250px] p-4 gap-2 shadow-md rounded-lg relative flex flex-col items-center h-full justify-center">
  <div class="flex flex-col items-center">
    <img src="/assets/images/user-solid-black.svg" class="scale-90">
    <p class="font-semibold">{{ user.firstName }} {{ user.name }}</p>
  </div>
  <div class="flex flex-col items-center">
    <p>{{ user.licenceType.label }}</p>
    <p>{{ user.userType.label }}</p>
  </div>
  <div class="flex gap-2">
    <button (click)="deleteUser()">
      <img src="/assets/images/trash-solid%201.svg" class="scale-75">
    </button>
  </div>
</div>
