<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl">Demain</h1>
    <div class="flex flex-wrap gap-5">
      <!-- boucle sur les cours de demain -->
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl">Cette semaine</h1>
    <div class="flex flex-wrap gap-5">
      <!-- boucle sur les cours de cette semaine -->
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl">Ce mois-ci</h1>
    <div class="flex flex-wrap gap-5">
      <!-- boucle sur les cours de ce mois -->
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl">Prochain mois</h1>
    <div class="flex flex-wrap gap-5">
      <!-- boucle sur les cours du prochain mois -->
    </div>
  </div>
</div>
