<div class="max-w-sm p-4 bg-white shadow-md rounded-lg relative">
  <div class="flex justify-between items-start">
    <div>
      <p class="text-lg font-semibold">Vendredi - 10/05/2024</p>
      <p class="mt-1 text-gray-500">De : 17h à 19h</p>
    </div>
    <span class="text-green-500 font-semibold">Validée</span>
  </div>
  <div class="mt-2">
    <p><span class="font-semibold">Durée :</span> 2h</p>
    <p><span class="font-semibold">Moniteur :</span> Isamettin</p>
    <div class="flex justify-between">
      <p><span class="font-semibold">Véhicule :</span> Yamaha MT-07</p>
      <button>
        <img src="assets/images/trash-solid%201.svg" class="scale-75">
      </button>
    </div>
  </div>
</div>
