<section class="min-h-screen overflow-hidden py-[12rem] section-p-m">
  <h1 class="mb-4 font-bold text-xl">Mon planning</h1>
  <div class="grid grid-cols-5 xl:gap-4 gap-2">
    <div class="col-span-1">
      <app-calendar-filters (filterChange)="onFilterChange($event)"></app-calendar-filters>
    </div>
    <ejs-schedule class="col-span-4 rounded-xl border border-primary-purple" #scheduleObj width='100%' cssClass='quick-info-template' height='600px' [selectedDate]="selectedDate$" [eventSettings]="eventSettings" (actionComplete)="onActionComplete($event)" (created)="onCreate()" (cellClick)="onCellClick($event)">
        <!-- Header -->
            <ng-template #quickInfoTemplatesHeader let-data>
            <div class="quick-info-header">
              <div class="quick-info-header-content" [ngStyle]="getHeaderStyles()">
                <div class="quick-info-title">{{getHeaderTitle(data)}}</div>
                <div class="duration-text">{{getHeaderDetails(data)}}</div>
              </div>
            </div>
          </ng-template>
          <!-- Content -->
          <ng-template #quickInfoTemplatesContent let-data>
            <ng-container [ngTemplateOutlet]="data.elementType == 'cell' ? cellContent : eventContent"
            [ngTemplateOutletContext]="{data:data}"></ng-container>
          </ng-template>
          <ng-template #cellContent let-data="data">
            <div class="quick-info-content" [formGroup]="lessonFormCreation">
              <div class="e-cell-content">
                <div class="quick-content-area">
                  <label for="title" class="font-bold">Titre</label>
                  <ejs-textbox #titleObj formControlName="name" id="title" placeholder="Conduite"></ejs-textbox>
                </div>
                <div class="quick-content-area">
                  <ejs-datetimepicker formControlName="start" id="StartTime" class="e-field" data-name="StartTime" format="dd/MM/yy HH:mm" #startTime>
                  </ejs-datetimepicker>
                </div>
                <div class="quick-content-area">
                  <label for="duration" class="font-bold">Durée en minutes (max 120)</label>
                  <ejs-textbox #titleObj formControlName="duration" id="duration" placeholder="Durée"></ejs-textbox>               
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #eventContent let-data="data">
            <div class="quick-info-content">
              <div class="event-content">
                <div class="meeting-type-wrap">
                  <label>Subject</label>:
                  <span>{{data.title}}</span>
                </div>
                <div class="meeting-subject-wrap">
                  <label>Moniteur</label>:
                  <span>{{data.teacher}}</span>
                </div>
                <div class="notes-wrap">
                  <label>Véhicule</label>:
                  <span>{{data.vehicle}}</span>
                </div>
              </div>
            </div>
          </ng-template>
          <!-- Footer -->
          <ng-template #quickInfoTemplatesFooter let-data>
            <ng-container [ngTemplateOutlet]="data.elementType == 'cell' ? cellFooter : eventFooter"
            [ngTemplateOutletContext]="{data:data}"></ng-container>
          </ng-template>
          <ng-template #cellFooter let-data="data">
            <div class="e-cell-footer">
              <button ejs-button id="add" cssClass="e-flat" [isPrimary]="true"(click)="creerLecon()" [disabled]="!lessonFormCreation.valid" >Créer</button>
            </div>
          </ng-template>
          <ng-template #eventFooter let-data="data">
            <div class="e-event-footer">
              @if(data.state.value==0){
                <button ejs-button id="book" [isPrimary]="true" (click)="reserverCreneau(data.id)">Réserver </button>
              }@else if(data.state.value==1){
                <button ejs-button id="queue" (click)="fileDattente(data.id)">File d'attente</button>
              }@else if(data.state.value==2){
                <button ejs-button id="cancel" [isPrimary]="true" (click)="annulerReservation(data.id)">Annuler réservation</button>
              }@else if(data.state.value==3){
                <button ejs-button id="quitQueue" [isPrimary]="true" (click)="quitterFileAttente(data.id)">Quitter File d'attente</button>
              }
            </div>
          </ng-template>
    </ejs-schedule>
  </div>
</section>
