<section class="overflow-hidden pt-[11rem] section-p-nb min-h-screen">
  <div class="grid grid-cols-8 gap-8">
    <div class="col-span-2">
      <div class=" max-w-screen-xl shadow-xl ring-1 ring-gray-900/5 mx-auto rounded-lg flex flex-col items-center px-4 py-4">
        <div class="flex items-center justify-center">
          <img src="assets/images/user_icon_purple.svg" class="scale-75">
          <div class="flex flex-col">
            @if (user) {
              <p> {{ user!.firstName }}</p>
              <p> {{ user!.userType.label }}</p>
              <p> {{ user!.licenceType.label }}</p>
            }
          </div>
        </div>
        <div class="daisy-divider daisy-divider-primary"></div>
        <ul class="daisy-menu flex flex-col gap-4 text-xl">
          <li>
            <a [ngClass]="{ 'daisy-active': activeIndex === 0 }" (click)="setActive(0)">
              Informations générales
            </a>
          </li>
          <li>
            <a [ngClass]="{ 'daisy-active': activeIndex === 1 }" (click)="setActive(1)">
              Mes prochaines leçons
            </a>
          </li>
          <li>
            <a [ngClass]="{ 'daisy-active': activeIndex === 2 }" (click)="setActive(2)">
              Leçons effectuées
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-span-6">
      <div class="px-4 py-4 mb-8">
        <ng-container [ngSwitch]="activeIndex">
          <div *ngSwitchCase="0">
            <app-general-information [generalInformation$]="generalInformation$"></app-general-information>
          </div>
          <div *ngSwitchCase="1">
            <app-next-lessons [nextLessons$]="nextLessons$"></app-next-lessons>
          </div>
          <div *ngSwitchCase="2">
            <app-past-lessons [pastLessons$]="pastLessons$"></app-past-lessons>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
