<section class="overflow-hidden pt-[11rem] section-p-m min-h-screen">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <h1 class="text-2xl">Parcs véhicules</h1>
      <div class="flex flex-wrap gap-4">
        @for (vehicle of (this.vehicles$ | async); track vehicle.id) {
          <app-vehicle-card [vehicle]="vehicle" (vehicleDeleted)="onVehicleDeleted($event)"></app-vehicle-card>
        }
        <button onclick="vehicleModal.showModal()">
          <div class="min-w-[250px] p-4 hover:shadow-md hover:translate-x-[2px] hover:translate-y-[-2px] hover:shadow-secondary-purple shadow-md rounded-lg relative flex flex-col items-center h-full justify-center gap-4">
            <img src="/assets/images/plus.svg" class="scale-90">
            <div>Ajouter véhicule</div>
          </div>
        </button>
        <dialog id="vehicleModal" class="daisy-modal">
          <div class="daisy-modal-box">
            <div class="flex flex-col justify-center items-center gap-8">
              <h3 class="font-bold text-lg text-primary-purple">CREATION DE VEHICULE</h3>
              <div class="flex flex-col gap-4">
                <app-custom-input [control]="vehicleCreationForm.controls.name" placeholder="Nom du véhicule" inputIcon="user-solid"></app-custom-input>
                <app-custom-input [control]="vehicleCreationForm.controls.registrationNumber"  placeholder="Plaque d'immatriculation" inputIcon="user-solid"></app-custom-input>
                <select class="duration-300 hover:shadow-md focus:box__shadow daisy-select text-[16px] rounded-[20px] bg-gray-100 placeholder-opacity-60 focus:border-primary-purple focus:outline-none col-span-2 custom-select" formControlName="type"
                        [ngClass]="{
                      'border-rose-500': vehicleCreationForm.controls.type.invalid && vehicleCreationForm.controls.type.dirty
                      }"
                        required>
                  <option value="" disabled selected>Type de véhicule</option>
                  @for (vehicleType of (vehicleTypes$ | async); track vehicleType.label) {
                    <option [value]="vehicleType.value">{{ vehicleType.label }}</option>
                  }
                </select>
              </div>
              <div class="modal-action">
                <form method="dialog" class="flex gap-8">
                  <button class="button__primary__white">Annuler</button>
                  <button class="button__primary__purple" (click)="addVehicle()">Ajouter véhicule</button>
                </form>
              </div>
            </div>
          </div>
        </dialog>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h1 class="text-2xl">Élèves</h1>
      <div class="flex flex-wrap gap-4">
        @for (student of (this.students$ | async); track student.id) {
          <app-user-card [user]="student" (userDeleted)="onUserDeleted($event)"></app-user-card>
        }
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h1 class="text-2xl">Moniteurs</h1>
      <div class="flex flex-wrap gap-4">
        @for (teacher of (this.teachers$ | async); track teacher.id) {
          <app-user-card [user]="teacher" (userDeleted)="onUserDeleted($event)"></app-user-card>
        }
      </div>
    </div>
  </div>
</section>
