<footer class="daisy-footer items-center py-4 px-40 bg-primary-purple text-white bottom-0">
  <aside class="items-center grid-flow-col gap-8">
    <img
      src="assets/images/drive-scheduler-logo-white.svg"
      alt="DriveScheduler Logo"
      class="object-contain w-[167px] h-[31px]"
    />
    <p>
      Votre planning de conduite en un clic !
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <a href="https://github.com/DriveScheduler">
        <img
          src="/assets/images/square-github.svg"
          alt="Github logo"
          class="object-contain w-[30px] h-[30px]">
      </a>
  </nav>
</footer>
