<aside>
  <div tabindex="0" class="daisy-collapse daisy-collapse-arrow border border-primary-purple">
    <input type="checkbox" checked />
    <div class="daisy-collapse-title bg-white text-xl font-medium">
      <div class="flex items-center gap-2">
        <img src="assets/images/filter-solid.svg" class="object-contain w-[16px] h-[16px]">
        <h1 class="font-bold">Filtres</h1>
      </div>
    </div>
    <div class="daisy-collapse-content bg-white flex flex-col gap-4">
      <div tabindex="0"  class="daisy-collapse daisy-collapse-arrow border border-primary-blue">
        <input type="checkbox" />
        <div class="daisy-collapse-title bg-white text-l">
          <h1 class="font-semibold">Moniteurs</h1>
        </div>
        <div class="daisy-collapse-content bg-white flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            @for (teacher of (teachers$ | async); track teacher.email) {
              <div class="flex justify-between items-center">
                <span class="text-sm">{{ teacher.firstName }} {{ teacher.name }}</span>
                <input type="checkbox" (change)="toggleTeacherSelection(teacher.id, $event)" class="daisy-checkbox daisy-checkbox-primary [--chkfg:white]" />
              </div>
            }
          </div>
        </div>
      </div>
      <div tabindex="0"  class="daisy-collapse daisy-collapse-arrow border border-primary-blue">
        <input type="checkbox" />
        <div class="daisy-collapse-title bg-white text-l font-regular">
          <h1 class="font-semibold">Statut du créneau</h1>
        </div>
        <div class="daisy-collapse-content bg-white flex flex-col gap-4">
          <div class="flex justify-between items-center">
            <span class="text-sm" >Disponible</span>
            <input type="checkbox" (change)="toggleStatusSelection($event)" class="daisy-checkbox daisy-checkbox-primary [--chkfg:white]" />
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
