@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.section-p-m {
  @apply xl:px-14 xl:pb-20 md:px-12 md:pb-12 px-4 pb-4;
}

.padding {
  @apply sm:px-16 px-8 sm:py-24 py-12;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.button__light__purple {
  @apply daisy-btn bg-secondary-purple hover:shadow-lg hover:opacity-90 text-[16px] hover:bg-primary-purple rounded-[15px] text-white font-light px-6;
}

.button__primary__purple {
  @apply daisy-btn bg-primary-purple hover:shadow-lg hover:opacity-90 text-[16px] hover:bg-secondary-purple rounded-[15px] text-white font-light px-6
}

.button__primary__white {
  @apply daisy-btn bg-white text-[16px] hover:bg-secondary-purple hover:text-white rounded-[15px] text-primary-purple font-light px-6
}

@layer utilities {
  .box__shadow {
    -webkit-box-shadow: 5px 5px 6px -3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 6px -3px rgba(0,0,0,0.5);  }
}

.error_snackbar {
  --mdc-snackbar-container-color: #d20f13 !important;
}

.success_snackbar {
  --mdc-snackbar-container-color: #d690e0 !important;
}
